
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Niall Flannery @ WD84 industries</p>
    <p> find out more at <a href="https://niall-flannery.com/">niall-flannery.com</a></p>
  </div>
</div>
</body>
</html>
