<%- include("partials/header"); -%>
<h1>About</h1>
<p><%= aboutContent %></p>
<p>
  My life with computers started with Excel and VBA. I developed my own tools
  for my therapy business that could track client progress and chart progress so
  clients could visually see progress made.
</p>
<p>
  My Excel and VBA skills then came in useful to create a standardised format
  for Utility Surveyors on Hi-Line when producing work packs. Using VBA i was
  able to automate the repetative tasks, increasing surveyor productivity. I
  used Excel and power BI to link over 100 circuit databases into one KPI
  management tool reducing time wasted looking for incompleted sites and other
  administrative tasks.
</p>
<p>
  Whilst building the Excel KPI tool I realised that this is what I wanted to do
  for a living, I want to build useful programs. I looked into many different
  options but fell in love with Web Development. Now here I am...
</p>
<%- include("partials/footer"); -%>
