<%- include("partials/header"); -%>
<div class="container-md">
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p>Up until that asterink all the text was saved in the app.js file and rendered to the page using EJS. I have used EJS templating on every page to pull in headers and footers and aso to parse information from the server to the page</p>
    <p>The app itself has used HTML, CSS, and Bootstrap on the front end. the back end is using Node.js, Express.js, Mongoose, Mongodb Atlas, EJS and Lodash. It is hosted on Heroku and I have used Git to track changes and to push to Heroku.</p>
    <br>
    <p>I started learning web development in my spare time in 2021. I was fluent in VBA when I started this journey, I believe that this ha helped me along, although getting my head around NoSQL took some time (still confuses me a bit now).</p>
    <br>
    <p>I am considering Free Lancing my services as a lot of the jobs I see advertised seem to require the successful candidate to have a minimum of 2 years in the industry. Not easy to get past the first hurdle when you are new...</p>
    <p>Any questions feel free to get in touch 😊</p>
    </div>
<%- include("partials/footer"); -%>
