<%- include("partials/header"); -%>
<div class="container-md">
<h1>Contact</h1>
<p><%= contactContent %></p>
      <a
        class="badge-base__link LI-simple-link"
        href="https://uk.linkedin.com/in/niall-flannery-15b042215?trk=profile-badge"
        ><i class="fab fa-linkedin"></i
      ></a>
    
    
      <a href="mailto:n.a.flannery@outlook.com"
        >email me</a>
    
  
</div>
<%- include("partials/footer"); -%>
